<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header class="h-20 flex items-center justify-between pr-1 pl-3 bg-blue-400">
        <h1 class="text-white font-bold">Rental App</h1>
            {{#if session.loggedIn}}
                <div class="flex items-center gap-4">
                    <h1 class="text-white font-semibold">{{session.username}}</h1>
                    <img class="w-20 rounded-full" src="{{session.foto_perfil}}" alt="">
                </div>
            {{/if}}
    </header>
  
    {{> navbar}}

    {{{body}}}

    {{> footer}}

    <script src="/js/libro.js"></script>
</body>
</html>