<header class="h-20 flex items-center justify-between pr-1 pl-3 bg-violet-500">
    <h1 class="text-white font-bold" style="font-size: 40px;">Rental App</h1>
        {{#if session.loggedIn}}
            <div class="flex items-center gap-4">
                <h1 class="text-white font-semibold" style="font-size: 20px;">{{session.username}}</h1>
                <img class="w-20 rounded-full" src="{{session.foto_perfil}}" alt="">
            </div>
        {{/if}}
</header>