<nav class="bg-blue-500 text-white p-5">
    <ul class="flex gap-10">
        <li><a href="/">Inicio Sesion</a></li>
        {{!-- <li><a href="/registro">Registrar</a></li> --}}
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 1</a></li>
    </ul>
</nav>

