<nav>
    <ul>
        <li><a href="/registro">Registrar</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 1</a></li>
    </ul>
</nav>