<form action="" method="post">
    <input type="email" name="email" placeholder="Email" required> 
    <input type="password" name="contrasenia" placeholder="Contraseña" required>
    <button>Enviar</button>
</form>