<div class="flex flex-col items-center">
    <h2 class="text-lg text-blue-500">Login</h2>
    <form class="flex flex-col p-5 w-1/4 bg-gray-100" action="/login" method="post">
        <input class="rounded-md m-1" type="email" name="email" placeholder="Email"  required>
        <input class="rounded-md m-1" type="password" name="contrasenia" placeholder="Contraseña" required>
        <button class="rounded-md m-1 p-2 text-white bg-blue-400" >Ingresar</button>

        {{#unless validation.success}}
            <ul>
                {{#each validation.errors}}
                    <li >
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        {{/unless}}

    </form>
    <a href="/registro_usuario">Registrar</a></li>
</div>