<form action="/registro" method="post">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="text" name="nombre" placeholder="Nombre Completo" required>
    <input type="numers" name="edad" placeholder="Edad" required> 
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="foto_perfil" placeholder="url foto de perfil" required>
    <input type="password" name="contrasenia" placeholder="Contraseña" required>
    <input type="password" name="repetcontrasenia" placeholder="Repite la Contraseña" required>
    <button>Guardar</button>
</form>